{% extends "main/base.html" %}
{% load static %}

{% block title %}Corrente do Bem - Criar organização{% endblock title %}

{% block content %}

        <section class="donate-section donate-bg-">
            <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 mx-auto">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'info' %}info{% endif %} alert-dismissible fade show m-auto mb-4" role="alert">
                                    {{ message }}
                                    <br>
                                    <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST" class="custom-form donate-form">
                            <div class="container mb-5">
                                <div class="row">
                                    <div class="col-12 text-start ms-auto">
                                        <a type="button" class="btn btn-primary" href="{% url 'organizations' %}"><i class="bi bi-arrow-left"></i> Voltar</a>
                                    </div>
                                </div>
                            </div>
                            {% csrf_token %}
                            <h3 class="mb-4 text-center">Criar organização</h3>

                             <div class="row">
                                
                                <div class="text-end mt-4">
                                    <p class="text-primary">* Campos obrigatórios</p>
                                </div>

                                <div class="col-12">
                                    <h5 class="mt-4">* Nome da organização</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="name" class="form-control" maxlength="50" id="id_name" required>
                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* Email</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="email" name="email" id="id_email" pattern="[^ @]*@[^ @]*" class="form-control" maxlength="100" required>
                                </div>
                                <p class="text-primary">O email é único e por enquanto não poderá ser trocado</p>

                                <div class="col-12">
                                    <h5 class="mt-4">* Telefone</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="phone" class="form-control" maxlength="11" id="id_phone" onkeyup="handlePhone(event)" placeholder="99999999999" required>
                                </div>
                                <p class="text-primary">Coloque apenas o DDD e o telefone, de preferência um Whatsapp</p>

                                <div class="col-12">
                                    <h5 class="mt-4">* Categorias</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <select name="category" class="form-control" id="id_category" multiple="" required>
                                        <option class="form-control" value="1">Eletrodomésticos</option>
                                        <option class="form-control" value="2">Alimentos</option>
                                        <option class="form-control" value="3">Vestuário</option>
                                        <option class="form-control" value="4">Mobílias</option>
                                        <option class="form-control" value="5">Diversos</option>
                                    </select>
                                </div>

                                <p class="text-primary mt-3">Selecione o que sua organização deseja receber</p>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* CEP</h5>
                                </div>

                                <div class="col-sm-12 col-lg-12">
    
                                    <div class="row">
                                        <div class="col-8">
                                            <input type="text" name="cep" class="form-control" placeholder="00000-000" maxlength="9" id="id_cep" onkeyup="handleZipCode(event)" required> 
                                        </div>
    
                                        <div class="col-4">
                                            <button class="btn btn-primary col-12" onclick="getCep()">Buscar</button>
                                        </div>
                                    </div>

                                    <p id="feedback-cep" class="text-danger mt-3 d-none"></p>

                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* Rua</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="street" class="form-control" maxlength="100" id="id_street" readonly required>
                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* Bairro</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="neighborhood" class="form-control" maxlength="100" id="id_neighborhood" readonly required>
                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* Cidade</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="city" class="form-control" maxlength="100" id="id_city" readonly required>
                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* Estado</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="state" class="form-control" id="id_state" readonly required>
                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">* Número</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="number" class="form-control" maxlength="10" id="id_number" required>
                                </div>

                                <div class="col-12">
                                    <h5 class="mt-4">Complemento</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <input type="text" name="complement" class="form-control" id="id_complement">
                                </div>
                                
                                <div class="col-12">
                                    <h5 class="mt-4">Descrição</h5>
                                </div>

                                <div class="col-12 mt-2">
                                    <textarea type="textarea" rows="4" name="description" class="form-control" id="id_description"></textarea>
                                </div>
                                
                                <div class="col-12 mt-2">
                                    <button type="submit" class="form-control mt-4">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}

{% block links %}

{% endblock links %}