<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script> 
    let map

    function initMap(){
        var locations = {{ locations|safe }};
        var imageUrl = '{{ image|safe }}';

        var firstLocation = locations[0];
        var infoWindow = [];
    
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: firstLocation.lat, lng: firstLocation.lng }, 
            zoom: 17,
        });
    
        locations.forEach(function (location) {
            var marker = new google.maps.Marker({
                position: { lat: location.lat, lng: location.lng }, 
                map: map, 
                title: location.name
            });
    
            var infowindow = new google.maps.InfoWindow();
    
            infoWindow.push(infowindow);
    
            marker.addListener('mouseover', function() {
                // Criar um elemento div para conter a imagem
                var contentString = "<div class='marker-content'>" +
                    "<p class='text-center'>" + location.name + "</p>" +
                    "<div class='marker-image-container d-flex justify-content-center align-items-center'>" +
                        "<img src='" + imageUrl + "' class='marker-image' style='height: 150px;'>" +
                    "</div>" +
                "</div>";
                infowindow.setContent(contentString);
                infowindow.open(map, marker);
            });

            marker.addListener('mouseout', function() {
                infowindow.close();
            });
        });
    }
    
    window.initMap = initMap;

</script>