{% load static %}
<!-- Importando Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    let map;
    let locations = {{ locations|safe }};
    let imageUrl = '{{ image|safe }}';

    function initMap() {
        if (locations.length === 0) {
            console.warn("Nenhuma localização disponível.");
            return;
        }

        // Define o centro inicial no primeiro local da lista
        let firstLocation = locations[0];

        map = L.map('map').setView([firstLocation.lat, firstLocation.lng], 17);

        // Adiciona camada de tiles do OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        // Adiciona os marcadores das localizações
        locations.forEach(function (location) {
            let marker = L.marker([location.lat, location.lng], {
                icon: L.icon({
                    iconUrl: "{% static 'media/images/icons/marker-dot.png' %}",
                    iconSize: [30, 30]
                })
            }).addTo(map);

            // Criando o conteúdo do pop-up
            let popupContent = `
                <div class='marker-content'>
                    <p class='text-center'>${location.name}</p>
                    <div class='marker-image-container d-flex justify-content-center align-items-center'>
                        <img src='${imageUrl}' class='marker-image' style='height: 150px;'>
                    </div>
                </div>
            `;
            
            marker.bindPopup(popupContent);

            // Exibe popup ao passar o mouse
            marker.on('mouseover', function () {
                marker.openPopup();
            });

            // Fecha popup ao tirar o mouse
            marker.on('mouseout', function () {
                marker.closePopup();
            });
        });
    }

    initMap();
</script>
