{% extends "main/base.html" %}
{% load static %}

{% block title %}{{org.organization.name}} - Usuários{% endblock title %}

{% block content %}
        {% if messages %}
            {% for message in messages %}   
            <div class="container py-4">
                <div class="row">
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %} alert-dismissible fade show m-auto mb-4" role="alert">
                        {{ message }}
                        <br>
                        <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        <section class="news-detail-header-section text-center">
            <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <h1 class="text-white">Usuários - {{org.organization.name}}</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="news-section">

            <div class="container section-padding">
                <h2 class="text-dark">Todos os usuários da organização</h2>
                <div class="list-group">

                    <!-- Item de exemplo -->
                    {% if role == 0 %}
                    <div class="container my-5">
                        <div class="row">
                            <div class="col-12">
                                <a type="button" class="btn btn-success col-12" href="{% url 'invite-users' organization_id=org.organization.id %}">Convidar usuários</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% for org_user in users %}
                        <div class="list-group-item py-3">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="col-6">
                                    <h5 class="mb-1">{{org_user.0.first_name}} {{org_user.0.last_name}} <span class="text-muted fs-5">{% if org_user.1 == 0 %}(Admin){% else %}(Colaborador){% endif %}</span></h5>
                                    <p>{{org_user.0.email}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Caso você seja admin, mostrar a opção de remover usuário -->
                                        {% if role == 0 %}
                                            {% if org_user.0 != user and org_user.1 == 1 %}
                                                <a class="btn btn-danger float-end mb-3" data-bs-toggle="modal" data-bs-target="#removeUserModal" onclick="selectUserToRemove({{org_user.0.id}})">Remover usuário &nbsp;<i class="bi bi-trash-fill"></i></a>
                                            {% elif org_user.0 == user %}
                                                <a class="btn btn-danger float-end mb-3" data-bs-toggle="modal" data-bs-target="#leaveOrgModal">Sair da organização &nbsp;<i class="bi bi-box-arrow-right"></i></a>
                                            {% endif %}
                                        {% elif role == 1 %}
                                            {% if org_user.0 == user %}
                                                <a class="btn btn-danger float-end mb-3" data-bs-toggle="modal" data-bs-target="#leaveOrgModal">Sair da organização &nbsp;<i class="bi bi-box-arrow-right"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        {% if role == 0 %}
                                            {% if org_user.1 == 1 %}
                                                <a class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#promoteUserModal" onclick="selectUserToPromote('{{org_user.0.email}}')">Promover para administrador &nbsp;<i class="bi bi-person-check"></i></a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>

        {% comment %} Modal - Sair da organização {% endcomment %}
        <div class="modal fade" id="leaveOrgModal" tabindex="-1" aria-labelledby="leaveOrgModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveOrgModalLabel">Sair da organização</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Tem certeza que deseja sair da organização? Você poderá voltar quando quiser.</p>

                        <p class="text-warning">OBS: Caso você seja o único administrador desta organização, não conseguirá sair da organização. Promova algum colaborador antes de sair.</p>

                        <p class="mt-4">Digite abaixo <b>{{org.organization.name}}</b> para confirmar</p>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control my-4" id="leave-org-input" onkeyup="handleLeaveOrgInput(event)" >
                            <button type="submit" name="leave-org" class="btn btn-danger col-12" id="leave-org-btn" disabled>Confirmar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary justify-content-end" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Modal - Remover usuário {% endcomment %}
        <div class="modal fade" id="removeUserModal" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveOrgModalLabel">Remover usuário</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Tem certeza que deseja remover o usuário da organização? Esse poderá voltar mediante um novo convite.</p>

                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control my-4" id="remove-user-input" name="remove-user-input" value="" hidden >
                            <button type="submit" name="remove-user" class="btn btn-danger col-12">Remover usuário</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary justify-content-end" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        {% comment %} Modal - Promover usuário {% endcomment %}
        <div class="modal fade" id="promoteUserModal" tabindex="-1" aria-labelledby="promoteUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveOrgModalLabel">Promover usuário</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Tem certeza que deseja promover o usuário para administrador? Por enquanto, essa ação é <b class="text-danger">IRREVERSÍVEL</b>.</p>

                        <p class="mt-4">Digite abaixo <b id="user-promote-email"></b> para confirmar</p>

                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control my-4" id="promote-user-input" name="promote-user-input" onkeyup="handlePromoteUserInput(event)">
                            <button type="submit" name="promote-user" id="promote-user-btn" class="btn btn-success col-12" disabled>Confirmar</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary justify-content-end" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

{% block links %}
    <script>

        let userToPromote;

        function selectUserToRemove(userId) {
            document.getElementById('remove-user-input').value = userId;
        }

        function selectUserToPromote(username) {
           userToPromote = username;
              document.getElementById('user-promote-email').innerText = username;
        }

        const handlePromoteUserInput = (event) => {
            const input = event.target;
            const promoteUserBtn = document.getElementById('promote-user-btn');
            const inputValue = input.value.trim();
        
            if (inputValue === userToPromote) {
                promoteUserBtn.removeAttribute('disabled');
            } else {
                promoteUserBtn.setAttribute('disabled', 'true');
            }
        }

        const handleLeaveOrgInput = (event) => {
            const input = event.target;
            const leaveOrgBtn = document.getElementById('leave-org-btn');
            const orgName = "{{org.organization.name}}";
            const inputValue = input.value.trim();
        
            if (inputValue === orgName) {
                leaveOrgBtn.removeAttribute('disabled');
            } else {
                leaveOrgBtn.setAttribute('disabled', 'true');
            }
        }
    </script>

{% endblock links %}