{% extends "main/base.html" %}
{% load static %}

{% block title %}{{org.organization.name}}{% endblock title %}

{% block content %}

        <section class="news-section py-5">
           
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'info' %}info{% endif %} alert-dismissible fade show m-auto mx-5 mb-5" role="alert">
                        {{ message }}
                        <br>
                        <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="container">
                <h1 class="text-center">{{org.organization.name}}</h1>
            </div>
        </section>

        <section class="py-5 section-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">   
                        <div class="custom-text-box">
                            <div class="row">
                                <h4 class=" col-8"><i class="bi bi-info-circle-fill"></i>&nbsp;Informações</h4>
                                <div class="col-4"></div>
                                
                                <h6 class="py-4">Esses são os itens que essa organização gostaria de receber:</h6>
                                {% for category in org.organization.category.all %} 
                                <span class="badge bg-primary w-auto fs-6 mb-2 px-3">{{category}}</span>
                                    {% if not forloop.last %}&nbsp;&nbsp;&nbsp;{% endif %} 
                                {% endfor %}

                                <h6 class="py-3"><i class="bi bi-telephone-fill"></i>&nbsp;Contato</h6>


                                <div class="col-sm-12 col-lg-12">
    
                                    <div class="row">
                                        <div class="col-6">
                                            <p><b>Telefone:</b> <a href="https://wa.me/+55{{org.organization.phone}}" target="blank">{{org.organization.phone}}</a></p>
                                        </div>
    
                                        <div class="col-6 text-end">
                                            <a href="https://wa.me/+55{{org.organization.phone}}" class="btn btn-success" target="blank"><i class="bi bi-whatsapp"></i> Whatsapp</a>
                                        </div>
                                    </div>
                                </div>

                                <h6 class="py-3"><i class="bi bi-geo-alt-fill"></i>&nbsp;Endereço</h6>
                                <p>
                                    <b>Endereço:</b> {{org.organization.street}}, {{org.organization.number}}<br>
                                    {{org.organization.neighborhood}} - {{org.organization.city}}/{{org.organization.state}}<br>
                                    {% if org.organization.complement %}Complemento: {{org.organization.complement}}{% endif %}
                                </p>

                                <p class="mt-2"><b>CEP:</b> {{org.organization.cep}}</p>

                                {% if org.website %}
                                <p class="mt-2"><i class="bi bi-link-45deg"></i>&nbsp;<b>Site: </b><a href="{{org.website}}" target="blank">{{org.website}}</a></p>
                                {% endif %}
                                {% if org.instagram %}
                                <p class="mt-2"><i class="bi bi-instagram"></i>&nbsp;<b>Instagram: </b><a href="http://instagram.com/{{org.instagram}}" target="blank">https://instagram.com/{{org.instagram}}</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <div class="col-lg-6 col-12">
                    <img src="{{org.image.url}}" class="custom-text-box-image img-fluid" alt="">
                </div>
                <div class="col-12">
                    <div class="custom-text-box">
                        <h6 class="mt-3"><i class="bi bi-pencil-fill"></i>&nbsp;&nbsp;Descrição</h6>
                        <p class="mt-2">{{org.organization.description}}</p>
                    </div>
                </div>
                <div class="col-12">
                    <div id="map"></div>
                        <script async 
                            src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
                        </script>
                </div>
            </div>
        </section>
   
{% endblock content %}

{% block links %}
     {% include "organizations/map.html" with locations=location image=org.image.url %}
{% endblock links %}