{% extends "main/base.html" %}
{% load static %}

{% block title %}Corrente do Bem - Minhas organizações{% endblock title %}

{% block content %}

        <section class="news-section py-5">
           
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'info' %}info{% endif %} alert-dismissible fade show m-auto mx-5 mb-5" role="alert">
                        {{ message }}
                        <br>
                        <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="container">
                <h1 class="text-center">Minhas organizações</h1>
                <div class="row">
                    
                    {% if orgs %}
                        {% for org in orgs %}
                            <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0 mt-5">
                                <div class="custom-block-wrap off-white-bg">
                                    
                                    <img src="{{org.image.url}}"
                                    class="custom-block-image img-fluid pt-3" style="height: 300px; object-fit: contain; ">
                                    
                                    <div class="custom-block">
                                        <div class="custom-block-body">
                                            <h5 class="text-center text-dark">{{org.organization.name}}</h5>
                                        </div>
                                        <a href="{% url "organization" id=org.organization.id %}" class="custom-btn btn">Visualizar</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}

                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="alert alert-info" role="alert">
                                <p>Você não pertence a nenhuma organização. <a href="{% url 'create-org' %}"><b>Clique aqui</b></a> ou no botão abaixo para criar uma!</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="container">
                        <div class="row">
                          <div class="col-12 text-end my-5">
                              <a type="button" class="btn btn-success" href="{% url 'create-org' %}">+ Criar organização</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
{% endblock content %}