{% extends "main/base.html" %}
{% load static %}

{% block title %}Corrente do Bem - Perfil{% endblock title %}

{% block content %}

        <section class="donate-section donate-bg-5">
            <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 mx-auto">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'info' %}info{% endif %} alert-dismissible fade show w-100 mx-auto" role="alert">
                                    <h6>{{message}}</h6>
                                    <button type="button" class="btn-close  d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        {% if user.profile.image.url == '/media/default_profile_picture.jpg' %}
                            <div class="alert alert-primary alert-dismissible fade show w-100 mx-auto" role="alert">
                                <h6 class="text-primary">Coloque uma foto de perfil!</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endif %}


                        <div class="custom-form donate-form">
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <h3 class="mb-4 text-center">Perfil - {{user.first_name}}</h3>
    
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img src="{{ user.profile.image.url }}" class="rounded-circle justify-center profile-photo">
                                        <br><br><br>
                                    </div>
    
                                    
                                    <div id="upload-pic">
                                        <label for="id_image" class="custom-btn custom-border-btn btn col-12">Escolher foto</label>
                                        <input type="file" name="image" accept="image/*" id="id_image">
                                    </div>
                                    
                                    {% comment %} {{profile_form.image}} {% endcomment %}
    
                                    <h3 class="mb-4 text-center mt-5">Meus dados</h3>
    
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="col-12">
                                            <h5 class="mt-4">Nome</h5>
                                        </div>
        
                                        <div class="col-12 mt-2">
                                            <input type="text" name="first_name" class="form-control " value="{{user.first_name}}" placeholder="Nome" pattern="[A-Za-zÀ-ú\s]+" title="Digite o nome corretamente" required> 
                                        </div>
                                    </div>
    
                                    <div class="col-sm-12 col-lg-6">
                                        <div class="col-12">
                                            <h5 class="mt-4">Sobrenome</h5>
                                        </div>
        
                                        <div class="col-12 mt-2">
                                            <input type="text" name="last_name" class="form-control " value="{{user.last_name}}" placeholder="Sobrenome" pattern="[A-Za-zÀ-ú\s]+" title="Digite o sobrenome corretamente" required> 
                                        </div>
                                    </div>
    
                                    <div class="col-lg-12 col-12">
                                        <h5 class="mt-4">Email</h5>
                                    </div>
    
                                    <div class="col-lg-12 col-12 mt-2">
                                        <input type="text" name="email" class="form-control text-success" pattern="[^ @]*@[^ @]*" value="{{user.email}}" disabled> 
                                    </div>
    
                                    <div class="col-12">
                                        <h5 class="mt-4">CEP</h5>
                                    </div>
    
                                    <div class="col-12 mt-2">
                                        <input type="text" name="cep" class="form-control" placeholder="00000-000" maxlength="9" title="Digite um CEP válido"
                                        value="{% if not user.cep %}{% else %}{{user.cep}}{% endif %}"
                                        onkeyup="handleZipCode(event)" required> 
                                    </div>
    
                                    <div class="col-lg-12 col-12 mt-2">
                                        <button name="save-profile" type="submit" class="form-control mt-4">Confirmar</button>
                                    </div>
                                </div>
                            </form>
                            <p class="mt-5">
                                <h6 id="danger-zone" class="text-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;Zona de perigo <i id="collapse-arrow" class="bi bi-chevron-right"></i>
                                </h6>   
                            </p>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Encerrar minha conta</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserModalLabel">Encerrar minha conta</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                    </div>
                    <div class="modal-body">
                        <p class="fs-5">Tem certeza que deseja encerrar sua conta? Essa ação é <b class="text-danger">irreversível</b>.</p>
                        <p class="fs-6">OBS: Caso você seja o único administrador de alguma organização, será necessário nomear outro usuário como administrador antes de encerrar sua conta, caso o contrário você não conseguirá prosseguir.</p>

                        <p class="mt-4">Digite <b>"{{user.username}}"</b> para confirmar.</p>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control my-4" onkeyup="handleDeleteUserInput(event)" >
                            <button type="submit" name="delete-account" class="btn btn-danger col-12" id="delete-user-btn" disabled>Encerrar conta</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary justify-content-end" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}

{% block links %}
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/danger-zone.js' %}"></script>
    
    <script>
        const handleDeleteUserInput = (event) => {
            const input = event.target;
            const deleteUserBtn = document.getElementById('delete-user-btn');
            const username = "{{user.username}}";
            const inputValue = input.value.trim();
        
            if (inputValue === username) {
                deleteUserBtn.removeAttribute('disabled');
            } else {
                deleteUserBtn.setAttribute('disabled', 'true');
            }
        }
    </script>
{% endblock links %}