{% extends "main/base.html" %}
{% load static %}

{% block title %}{{org.organization.name}} - Nova doação{% endblock title %}

{% block content %}

<section class="donate-section">
    <div class="section-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mx-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% endif %} alert-dismissible fade show m-auto mb-4" role="alert">
                            {{ message }}
                            <br>
                            <button type="button" class="btn-close d-flex justify-content-end" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <form method="POST" class="custom-form donate-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="mb-4 text-center">Registrar doação</h3>

                     <div class="row">
                        
                        <div class="text-end mt-4">
                            <p class="text-primary">* Campos obrigatórios</p>
                        </div>
                        
                        <div class="col-12">
                            <h5 class="mt-4">* Email do doador</h5>
                        </div>
                        
                        <div class="col-sm-12 col-lg-12">
        
                            <div class="row">
                                <div class="col-12">
                                    <input type="email" name="user" id="id_user" pattern="[^ @]*@[^ @]*" class="form-control" maxlength="100" required>
                                </div>

                                {% comment %} <div class="col-4">
                                    <button class="btn btn-primary col-12" onclick="validateEmail()">Buscar</button>
                                </div> {% endcomment %}
                            </div>
                            <p id="feedback-email" class="text-danger mt-3 d-none"></p>
                        </div>

                        <div class="col-12">
                            <h5 class="mt-4">Descrição</h5>
                        </div>

                        <div class="col-12 mt-2">
                            <textarea type="textarea" rows="4" name="description" class="form-control" id="id_description" placeholder="Descrever os itens doados"></textarea>
                        </div>

                        <div class="col-12">
                            <h5 class="mt-4">Registre uma foto da doação, caso queira!</h5>
                        </div>

                        <div id="upload-pic" class="my-3">
                            <label for="id_image" class="custom-btn custom-border-btn btn col-12">Escolher foto</label>
                            <input type="file" name="image" accept="image/*" id="id_image">
                        </div>
                        
                        <div class="col-12 mt-2">
                            <button type="submit" class="form-control mt-4">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block links %}
<script src="{% static 'js/donations.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock links %}