{% load static%}
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script> 
    let map
    let lat
    let lng
    let locations = {{locations|safe}};

    async function initMap(userLat, userLng){
        var infoWindow = [];

        var infowindow = new google.maps.InfoWindow();
        
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: userLat, lng: userLng }, 
            zoom: 14,
            mapTypeId: "terrain",
        });

        var marker = new google.maps.Marker({
            position: { lat: userLat, lng: userLng }, 
            map: map, 
            title: "Você está por aqui!",
            icon: "{% static 'media/images/icons/marker-you-here.png' %}"

        });

        marker.addListener('click', function() {
            var contentString = "<div class='marker-content'>" +
                "<p class='text-center'>Você está por aqui!</p>" +
                "</div>";
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
        })


        locations.forEach(function (location) {
            var marker = new google.maps.Marker({
                position: { lat: Number(location[1]), lng: Number(location[2]) }, 
                map: map, 
                title: location[0],
                mapTypeId: "terrain",
                icon: "{% static 'media/images/icons/marker-dot.png' %}"

            });
    
            infoWindow.push(infowindow);

            var contentString;

             marker.addListener('click', function() {
                var contentString = "<a class='marker-content' href='/organizations/" + String(location[3]) + "'>" +
                        "<p class='text-center fs-5' href='/organizations/" + String(location[3]) + "'>" + String(location[0]) + "</p>" +
                        "<div class='marker-image-container d-flex justify-content-center align-items-center'>" +
                            "<img src='media/" + String(location[4]) + "' class='marker-image' style='height: 150px;'>" +
                        "</div>" +
                    "</a>";

                 infowindow.setContent(contentString);
                 infowindow.open(map, marker);
             });
             // event click off the marker
             
             // marker.addListener('mouseout', function() {
             //     infowindow.close();
             // });
        });
    }

    function success(pos) {
        const crd = pos.coords;
        lat = crd.latitude;
        lng = crd.longitude;

        initMap(lat, lng);
    }
    
    function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
    }
    
    const options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0,
    };

    navigator.geolocation.getCurrentPosition(success, error, options);

</script>